h1 {
  font-size: 300%;
  color: indigo;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: lightgray;
}
p {
  color: lightgray;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 120%;
}
  
body {
  background-color: black; 
}
img {
  max-width: 25%;
  height: auto;
}
u1 {
  color: lightgray;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 105%
}